#divmap {
    position:			absolute;
    top:				0%;
    height:				100%;
    left:				16vw;
    right:				0vw;
    background-color:	black;
}

svg {
    position: relative;
}

path {
    fill: #000;
    fill-opacity: .2;
    stroke: #fff;
    stroke-width: 1.5px;
}

path:hover {
    fill: brown;
    fill-opacity: .7;
}